<div class="page addons-page">
	<div class="newsletter-section bg-gradient-primary">
		<div
			class="container d-flex flex-column flex-md-row flex-wrap align-items-center justify-content-center gap-2 gap-lg-3"
		>
			<h3 class="text-uppercase text-white mb-0">NEWSLETTER</h3>
			<p class="text-white fst-italic fs-lg mb-2 mb-md-0">
				Want the latest news of MOHO? Sign up!
			</p>
			<form action="#" class="subscribe-form mb-0">
				<div class="icon">
					<img src="{{ 'block02_letter-icon.png' | asset_url }}" alt="" />
				</div>
				<input type="email" placeholder="Email" class="form-control rounded-pill" />
				<button type="submit" class="subscribe-btn">
					<img src="{{ 'block02_button-arrow.png' | asset_url }}" alt="" />
				</button>
			</form>
		</div>
	</div>

	<div class="addons-section">
		<div class="addon-item">
			<div class="container">
				<div class="row py-5">
					<div class="col-md-4 text-center mb-4 mb-md-0">
						<img src="{{ 'addon_01.png' | asset_url }}" alt="" class="img-fluid" />
					</div>
					<div class="col-md-8">
						<div class="content">
							<h2 class="text-primary text-uppercase fst-italic">
								Moho 100 Brush Pack
							</h2>
							<p class="fs-lg fst-italic">
								The Moho “100” Brush Pack is professionally designed for Moho Pro
								and Moho Debut. This pack includes: 100 Brushes · 50 Elements
								brushes (nature, cityscape) · 50 Artistic brushes, including
								charcoal, pastel, ink, painterly, watercolor and more · Sample
								images for all the brushes · A PDF file with the list of all the
								brushes contained in the pack.
							</p>
							<a href="#" class="btn btn-primary-gradient">Buy $15.99</a>
							<div class="mt-3">
								<p class="fs-xs fst-italic text-uppercase mb-2">
									<strong>SYSTEM REQUERIMENTS</strong>
								</p>
								<p class="fs-xs fst-italic">
									Moho 12 Debut or higher, Moho Pro 12 or higher. Moho Pro 12 or
									higher recommended to access Pro features. Up to an additional
									30 MB of Free Disk Space recommended.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="addon-item bg-light">
			<div class="container">
				<div class="row py-5">
					<div class="col-md-4 text-center mb-4 mb-md-0">
						<img src="{{ 'addon_02.png' | asset_url }}" alt="" class="img-fluid" />
					</div>
					<div class="col-md-8">
						<div class="content">
							<h2 class="text-primary text-uppercase fst-italic">
								Moho 100 Brush Pack
							</h2>
							<p class="fs-lg fst-italic">
								The Moho “100” Brush Pack is professionally designed for Moho Pro
								and Moho Debut. This pack includes: 100 Brushes · 50 Elements
								brushes (nature, cityscape) · 50 Artistic brushes, including
								charcoal, pastel, ink, painterly, watercolor and more · Sample
								images for all the brushes · A PDF file with the list of all the
								brushes contained in the pack.
							</p>
							<a href="#" class="btn btn-primary-gradient">Buy $15.99</a>
							<div class="mt-3">
								<p class="fs-xs fst-italic text-uppercase mb-2">
									<strong>SYSTEM REQUERIMENTS</strong>
								</p>
								<p class="fs-xs fst-italic">
									Moho 12 Debut or higher, Moho Pro 12 or higher. Moho Pro 12 or
									higher recommended to access Pro features. Up to an additional
									30 MB of Free Disk Space recommended.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="addon-item">
			<div class="container">
				<div class="row py-5">
					<div class="col-md-4 text-center mb-4 mb-md-0">
						<img src="{{ 'addon_03.png' | asset_url }}" alt="" class="img-fluid" />
					</div>
					<div class="col-md-8">
						<div class="content">
							<h2 class="text-primary text-uppercase fst-italic">
								Moho 100 Brush Pack
							</h2>
							<p class="fs-lg fst-italic">
								The Moho “100” Brush Pack is professionally designed for Moho Pro
								and Moho Debut. This pack includes: 100 Brushes · 50 Elements
								brushes (nature, cityscape) · 50 Artistic brushes, including
								charcoal, pastel, ink, painterly, watercolor and more · Sample
								images for all the brushes · A PDF file with the list of all the
								brushes contained in the pack.
							</p>
							<a href="#" class="btn btn-primary-gradient">Buy $15.99</a>
							<div class="mt-3">
								<p class="fs-xs fst-italic text-uppercase mb-2">
									<strong>SYSTEM REQUERIMENTS</strong>
								</p>
								<p class="fs-xs fst-italic">
									Moho 12 Debut or higher, Moho Pro 12 or higher. Moho Pro 12 or
									higher recommended to access Pro features. Up to an additional
									30 MB of Free Disk Space recommended.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="addon-item bg-light">
			<div class="container">
				<div class="row py-5">
					<div class="col-md-4 text-center mb-4 mb-md-0">
						<img src="{{ 'addon_04.png' | asset_url }}" alt="" class="img-fluid" />
					</div>
					<div class="col-md-8">
						<div class="content">
							<h2 class="text-primary text-uppercase fst-italic">
								Moho 100 Brush Pack
							</h2>
							<p class="fs-lg fst-italic">
								The Moho “100” Brush Pack is professionally designed for Moho Pro
								and Moho Debut. This pack includes: 100 Brushes · 50 Elements
								brushes (nature, cityscape) · 50 Artistic brushes, including
								charcoal, pastel, ink, painterly, watercolor and more · Sample
								images for all the brushes · A PDF file with the list of all the
								brushes contained in the pack.
							</p>
							<a href="#" class="btn btn-primary-gradient">Buy $15.99</a>
							<div class="mt-3">
								<p class="fs-xs fst-italic text-uppercase mb-2">
									<strong>SYSTEM REQUERIMENTS</strong>
								</p>
								<p class="fs-xs fst-italic">
									Moho 12 Debut or higher, Moho Pro 12 or higher. Moho Pro 12 or
									higher recommended to access Pro features. Up to an additional
									30 MB of Free Disk Space recommended.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="addon-item">
			<div class="container">
				<div class="row py-5">
					<div class="col-md-4 text-center mb-4 mb-md-0">
						<img src="{{ 'addon_05.png' | asset_url }}" alt="" class="img-fluid" />
					</div>
					<div class="col-md-8">
						<div class="content">
							<h2 class="text-primary text-uppercase fst-italic">
								Moho 100 Brush Pack
							</h2>
							<p class="fs-lg fst-italic">
								The Moho “100” Brush Pack is professionally designed for Moho Pro
								and Moho Debut. This pack includes: 100 Brushes · 50 Elements
								brushes (nature, cityscape) · 50 Artistic brushes, including
								charcoal, pastel, ink, painterly, watercolor and more · Sample
								images for all the brushes · A PDF file with the list of all the
								brushes contained in the pack.
							</p>
							<a href="#" class="btn btn-primary-gradient">Buy $15.99</a>
							<div class="mt-3">
								<p class="fs-xs fst-italic text-uppercase mb-2">
									<strong>SYSTEM REQUERIMENTS</strong>
								</p>
								<p class="fs-xs fst-italic">
									Moho 12 Debut or higher, Moho Pro 12 or higher. Moho Pro 12 or
									higher recommended to access Pro features. Up to an additional
									30 MB of Free Disk Space recommended.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% section 'testimonial' %}
</div>
