<div class="page education-page">
	<div class="has-bg-image" style="background-image: url( {{ 'orange-gradient-bg.jpg' | asset_url }} )">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 py-4">
					<div class="content">
						<h2 class="text-white text-uppercase fst-italic">Moho
							for Education</h2>
						<p class="fs-lg fst-italic text-white">
							We are excited to offer academic pricing on Moho.
						</p>

						<p class="fs-lg fst-italic text-white">
							For Students - you can get a 40% discount on a
							single purchase of Moho
							Pro or Moho Debut by clicking the Buy Digital button
							below for the
							product of your choice.
						</p>
						<p class="fs-lg fst-italic text-white">
							Teachers and faculty who would like to incorporate
							2D animation into
							their school’s program are eligible for educational
							volume pricing.
							Please contact us through the form below to learn
							more about how we can
							help you empower your students to become the digital
							animators of the
							future.
						</p class="fs-lg fst-italic text-white">
						<p class="fs-lg fst-italic text-white">
							Discount options available: <br />
							<strong>1-24 Units – 40% Discount and 25+ Units –
								50% Discount</strong>
						</p>
					</div>
				</div>
				<div class="col-lg-6 mt-4 mt-lg-0">
					<img src="{{ 'education-hero-img.jpg' | asset_url }}" alt="" class="img-fluid" />
				</div>
			</div>
		</div>
	</div>

	<div class="newsletter-section bg-white">
		<div
			class="container d-flex flex-column flex-md-row flex-wrap align-items-center justify-content-center gap-2 gap-lg-3">
			<h3 class="text-uppercase text-primary mb-0">NEWSLETTER</h3>
			<p class="fst-italic fs-lg mb-2 mb-md-0">Want the latest news of
				MOHO? Sign up!</p>
			<form action="#" class="subscribe-form mb-0">
				<div class="icon">
					<img src="{{ 'block02_letter-icon.png' | asset_url }}" alt="" />
				</div>
				<input type="email" placeholder="Email" class="form-control rounded-pill" />
				<button type="submit" class="subscribe-btn">
					<img src="{{ 'block02_button-arrow.png' | asset_url }}" alt="" />
				</button>
			</form>
		</div>
	</div>

	<div class="contact-section py-5 bg-light">
		<div class="container">
			<div class="text-center mb-4">
				<h2 class="text-primary text-uppercase fst-italic">Contact us!
				</h2>
				<p class="fs-lead">Educators and students - use the form below to
					get more information and request a quote:</p>
			</div>
			<div class="row">
				<div class="col-lg-6 mx-auto">
					<form action="#" class="contact-form">
						<div class="mb-3">
							<input type="text" class="form-control rounded-pill px-4" placeholder="Full Name*">
						</div>
						<div class="mb-3">
							<input type="email" class="form-control rounded-pill px-4" placeholder="Email*">
						</div>
						<div class="mb-3">
							<input type="text" class="form-control rounded-pill px-4" placeholder="Company Name*">
						</div>
						<div class="mb-3">
							<input type="text" class="form-control rounded-pill px-4" placeholder="Phone Number">
						</div>
						<div class="mb-3">
							<input type="text" class="form-control rounded-pill px-4" placeholder="Website URL">
						</div>
						<div class="mb-3">
							<textarea rows="10" class="form-control px-4" 
							placeholder="Need a quote? Please specify the product (Debut, Pro, or Both) and number of seats below."></textarea>
						</div>
						<div class="text-center">
							<button class="btn btn-primary-gradient fs-lg px-4" type="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="container pt-5">
		<img src="{{ 'MOHO-LOGO-BIG.png' | asset_url }}" alt="" class="img-fluid" />
		<h2 class="text-gray text-uppercase fst-italic mt-4">
			THE BEST Features FOR YOUR ANIMATIONS
		</h2>
	</div>
	<div class="feature-item">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-4 order-1 order-lg-2 text-center text-lg-end">
					<div class="feature-img">
						<img src="{{ 'feature-img-1.jpg' | asset_url }}" alt="" class="img-fluid" />
					</div>
				</div>
				<div class="col-lg-8 order-2 order-lg-1 py-5">
					<div class="feature-content">
						<h3 class="text-primary fst-italic">Smart Bones™</h3>
						<p class="fst-italic fs-lg">
							Smart Bones is an incredible feature that reduces or
							entirely removes
							distortion around your character's joints -
							specifically around knees
							and elbows. Group a set of points and use the Smart
							Bones control levers
							to create 3D looking motion that you can easily
							repeat with the turn of
							a dial. For example, with Smart Bones you can
							control facial expressions
							and head-turning on a character with simple dial
							movements instead of
							having to touch each bone point. Smart Bones not
							only steps up the
							quality and realism of the bone actions, but makes
							it so much easier to
							repeat complex movements and control your rigged
							elements. Smart Bones
							allow the ability to control Switch layers, Layer
							order, Layer
							visibility, Follow path, Flip layer
							horizontally/vertically, Stroke
							exposure, Shape effect positioning, Shape effect
							parameters (like
							gradient colors), 3D thickness of vector shapes that
							have been converted
							to 3D and even more smart bones controls.
							<a href="#"><strong>Watch Video</strong></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feature-item bg-light">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-4 text-center text-lg-end align-self-end">
					<div class="feature-img">
						<img src="{{ 'feature-img-2.jpg' | asset_url }}" alt="" class="img-fluid" />
					</div>
				</div>
				<div class="col-lg-8 py-5">
					<div class="feature-content">
						<h3 class="text-primary fst-italic">Bone Constraints
						</h3>
						<p class="fst-italic fs-lg">
							Bone Constraints include rigging options that will
							help set up
							characters that are more complex and powerful. The
							independent angle
							constraint allows a bone to maintain its global
							angle similar to a
							camera crane and is not affected by inverse
							kinematics or its bone
							parents. Ideal uses for bone constraints include
							robotic arms or feet on
							characters that maintains constraints when the rest
							of the leg is
							moving. The squash and stretch bone scaling
							enhancement allows bones to
							squash and stretch objects. The elbow bending
							feature helps improve
							otherwise abnormal bending and squashing issues.
							Target bones help bones
							point in the right direction rather than having the
							need to consistently
							set angles.
							<a href="#"><strong>Watch Video</strong></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="products-block py-5">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-10 col-lg-8 text-center mx-auto">
					<h2 class="fst-italic text-uppercase">Moho® 2D Animation
						Software</h2>
					<p class="fs-lg fst-italic">
						Moho has everything you need to make amazing,
						professional animations. Used
						in the OSCAR® nominated films, The Breadwinner and Song
						of the Sea, for Best
						Animated Feature Film.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mb-4 mb-md-0">
					<div
						class="product-item product-pro text-center bg-light h-100 d-flex flex-column justify-content-between">
						<div class="">
							<img src="{{ 'BOX-PRO.png' | asset_url }}" alt="" class="mb-3" />
							<h2 class="fst-italic text-uppercase">Moho Pro 13.5
							</h2>
							<p class="fs-lg fst-italic">
								Perfect for professional animation artists to
								make your work-flow as efficient as you need it
								to be.
								<br> <br>
								Save 40% off SRP of $399.99
								<br> <br>
								Educators and students please fill the form
								above.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div
						class="product-item product-debut text-center bg-light h-100 d-flex flex-column justify-content-between">
						<div class="">
							<img src="{{ 'BOX-DEBUT.png' | asset_url }}" alt="" class="mb-3" />
							<h2 class="fst-italic text-uppercase">Moho DEBUT
								13.5</h2>
							<p class="fs-lg fst-italic">
								Learn 2D animation and get started quickly with
								Debut's Beginners Mode and Character Wizard.
								<br> <br>
								Save 40% off SRP of $59.99
								<br> <br>
								Educators and students please fill the form
								above.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% section 'testimonial' %}
</div>
