<div class="page support-page">
	<div class="newsletter-section bg-light">
		<div
			class="container d-flex flex-column flex-md-row flex-wrap align-items-center justify-content-center gap-2 gap-lg-3"
		>
			<h3 class="text-uppercase text-primary mb-0">NEWSLETTER</h3>
			<p class="fst-italic fs-lg mb-2 mb-md-0">Want the latest news of MOHO? Sign up!</p>
			<form action="#" class="subscribe-form mb-0">
				<div class="icon">
					<img src="{{ 'block02_letter-icon.png' | asset_url }}" alt="" />
				</div>
				<input type="email" placeholder="Email" class="form-control rounded-pill" />
				<button type="submit" class="subscribe-btn">
					<img src="{{ 'block02_button-arrow.png' | asset_url }}" alt="" />
				</button>
			</form>
		</div>
	</div>

	<div class="buy-section">
		<div
			class="shotcut-links-section bg-primary-gradient sticky-top d-flex align-items-center justify-content-center"
		>
			<a href="#digital" class="text-white text-uppercase d-block py-2 px-3 px-lg-5">DIGITAL</a>
			<a href="#physical" class="text-white text-uppercase d-block py-2 px-3 px-lg-5">PHYSICAL</a>
			<a href="#upgrade" class="text-white text-uppercase d-block py-2 px-3 px-lg-5">UPGRADE</a>
		</div>

		<div class="container">
			<div class="row align-items-center pt-5" id="digital">
				<div class="col-lg-4 text-center text-lg-start mb-4 mb-lg-0">
					<h2 class="text-gray text-uppercase fst-italic mb-2">One-time purchase</h2>
					<p class="text-gray text-uppercase fs-lg fst-italic mb-0">DOWNLOAD VERSION</p>
				</div>
				<div class="col-lg-8">
					<div class="row g-0">
						<div class="col-md-6 text-center box-pro mb-4 mb-md-0">
							<div
								class="has-bg-image mb-3 px-4 pb-4"
								style="background-image: url({{ 'block03_bg-PRO.png' | asset_url }})"
							>
								<img src="{{ 'block03_BOX-PRO.png' | asset_url }}" alt="" class="img-fluid" />
								<h2 class="text-white text-uppercase fst-italic">Moho Pro 13.5</h2>
								<p class="text-white fs-lg fst-italic">
									Perfect for professional animation artists to make your work-flow as efficient as
									you need it to be.
								</p>
								<h3 class="text-white text-uppercase fst-italic">$399.99</h3>
								<p class="text-white fs-xs fst-italic">
									<strong>Windows/macOS</strong> (One time purchase)
								</p>
							</div>
							<div>
								<a href="#" class="btn btn-primary-gradient">Buy</a>
							</div>
						</div>
						<div class="col-md-6 text-center box-debut">
							<div
								class="has-bg-image mb-3 px-4 pb-4"
								style="background-image: url({{ 'block03_bg-DEBUT.png' | asset_url }})"
							>
								<img src="{{ 'block03_BOX-DEBUT.png' | asset_url }}" alt="" class="img-fluid" />
								<h2 class="text-white text-uppercase fst-italic">Moho DEBUT 13.5</h2>
								<p class="text-white fs-lg fst-italic">
									Learn 2D animation and get started quickly with Debut's Beginners Mode and Character
									Wizard.
								</p>
								<h3 class="text-white text-uppercase fst-italic">$59.99</h3>
								<p class="text-white fs-xs fst-italic">
									<strong>Windows/macOS</strong> (One time purchase)
								</p>
							</div>
							<div>
								<a href="#" class="btn btn-secondary-gradient">Buy</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row align-items-center pt-5" id="physical">
				<div class="col-lg-4 text-center text-lg-start mb-4 mb-lg-0">
					<h2 class="text-gray text-uppercase fst-italic mb-2">One-time purchase</h2>
					<p class="text-gray text-uppercase fs-lg fst-italic mb-0">PHYSICAL VERSION</p>
				</div>
				<div class="col-lg-8">
					<div class="row g-0">
						<div class="col-md-6 text-center box-pro mb-4 mb-md-0">
							<div
								class="has-bg-image mb-3 px-4 pb-4"
								style="background-image: url({{ 'block03_bg-PRO.png' | asset_url }})"
							>
								<img src="{{ 'box-pro-dvd.png' | asset_url }}" alt="" class="img-fluid" />
								<h2 class="text-white text-uppercase fst-italic">Moho Pro 13.5</h2>
								<p class="text-white fs-lg fst-italic">
									Perfect for professional animation artists to make your work-flow as efficient as
									you need it to be.
								</p>
								<h3 class="text-white text-uppercase fst-italic">$399.99</h3>
								<p class="text-white fs-xs fst-italic">
									<strong>Windows/macOS</strong> (One time purchase)
								</p>
							</div>
							<div>
								<a href="#" class="btn btn-primary-gradient">Buy</a>
							</div>
						</div>
						<div class="col-md-6 text-center box-debut">
							<div
								class="has-bg-image mb-3 px-4 pb-4"
								style="background-image: url({{ 'block03_bg-DEBUT.png' | asset_url }})"
							>
								<img src="{{ 'box-debut-dvd.png' | asset_url }}" alt="" class="img-fluid" />
								<h2 class="text-white text-uppercase fst-italic">Moho DEBUT 13.5</h2>
								<p class="text-white fs-lg fst-italic">
									Learn 2D animation and get started quickly with Debut's Beginners Mode and Character
									Wizard.
								</p>
								<h3 class="text-white text-uppercase fst-italic">$59.99</h3>
								<p class="text-white fs-xs fst-italic">
									<strong>Windows/macOS</strong> (One time purchase)
								</p>
							</div>
							<div>
								<a href="#" class="btn btn-secondary-gradient">Buy</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row align-items-center pt-5" id="upgrade">
				<div class="col-lg-4 text-center text-lg-start mb-4 mb-lg-0">
					<h2 class="text-gray text-uppercase fst-italic mb-2">DISCOUNTED UPGRADE TO MOHO PRO</h2>
					<p class="text-gray text-uppercase fs-lg fst-italic mb-0">DIGITAL VERSION</p>
				</div>
				<div class="col-lg-8">
					<div class="has-bg-image p-4" style="background-image: url({{ 'block03_bg01.png' | asset_url }})">
						<h2 class="text-white text-uppercase fst-italic">ENTER EMAIL AND SERIAL NUMBER FOR UPGRADE</h2>
						<div class="row g-0">
							<div class="col-md-4 text-center">
								<img src="{{ 'block03_BOX-PRO.png' | asset_url }}" alt="" class="img-fluid" />
							</div>
							<div class="col-md-8">
								<p class="text-white fs-lg fst-italic text-center text-md-start">
									Select your current Moho software version then submit email and serial number for
									upgrade.
								</p>
								<form action="#" class="upgrade-form">
									<div class="mb-3">
										<select class="form-select rounded-pill px-4">
											<option selected>Upgrade From Moho Debut 12 Digital - $329.99</option>
											<option>Upgrade From Moho Debut 12 Digital - $329.99</option>
											<option>Upgrade From Moho Debut 12 Digital - $329.99</option>
										</select>
									</div>
									<div class="mb-3">
										<input
											type="email"
											class="form-control rounded-pill px-4"
											placeholder="Email Address"
										/>
									</div>
									<div class="mb-3">
										<input
											type="text"
											class="form-control rounded-pill px-4"
											placeholder="Serial Number"
										/>
									</div>
									<div class="text-center text-md-start">
										<button class="btn btn-white-outlined fs-lg px-4" type="submit">upgrade</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="system-requirements py-5">
		<div class="container">
			<h2 class="text-primary fst-italic text-uppercase mb-4">System Requirements</h2>
			<div class="row">
				<div class="col-md-6 mb-4 mb-md-0">
					<h3 class="fst-italic mb-4">Windows</h3>
					<ul>
						<li>Windows® 10 recommended *</li>
						<li>64-bit OS required</li>
						<li>2.0 GHz Intel Core i3 or higher</li>
						<li>4 GB RAM or higher</li>
						<li>1.6 GB free hard drive space or higher</li>
						<li>OpenGL 4.1 supported graphics card required (1920x1080 recommended) **</li>
						<li>Online connection required to perform online activation</li>
					</ul>
				</div>
				<div class="col-md-6 mb-4">
					<h3 class="fst-italic mb-4">Macintosh</h3>
					<ul>
						<li>Macintosh® OS X 10.13 or 10.14 recommended. Mac OS 11 not currently supported. *</li>
						<li>64-bit OS required</li>
						<li>2.0 GHz Intel Core i3 or higher</li>
						<li>4 GB RAM or higher</li>
						<li>1.6 GB free hard drive space or higher</li>
						<li>OpenGL 4.1 supported graphics card required (1920x1080 recommended) **</li>
						<li>Online connection required to perform online activation</li>
					</ul>
				</div>
				<div class="col-12">
					<p class="fs-lg fst-italic mb-4">
						* Smith Micro has done extensive testing of Moho on Windows 10, macOS 10.14, and macOS 10.13.
						Moho can be installed on older operating systems, but this is not recommended as there might be
						instabilities. Moho will not work on anything older than Windows 7 (version 6.1) or macOS 10.10.
						There are currently no details on an update or new version to support Mac OS 11. Smith Micro
						will only provide full technical support for issues on Windows 10, macOS 10.14, macOS 10.13, and
						limited support for Windows 7 issues.
					</p>
					<p class="fs-lg fst-italic">
						** For high pixel density displays, minimum resolution will vary according to the operating
						system recommend scaling level. For example, if the OS recommends a scaling level of 200%, the
						minimum requirement may be as high as 2736x1824 resolution. Or if the OS recommends a scaling
						level of 150%, the minimum requirement may be as high as 2160x1440 resolution.
					</p>
				</div>
			</div>
		</div>
	</div>

	{% section 'testimonial' %}
</div>
