<div class="page support-page">
	<div class="newsletter-section bg-light">
		<div
			class="container d-flex flex-column flex-md-row flex-wrap align-items-center justify-content-center gap-2 gap-lg-3"
		>
			<h3 class="text-uppercase text-primary mb-0">NEWSLETTER</h3>
			<p class="fst-italic fs-lg mb-2 mb-md-0">Want the latest news of MOHO? Sign up!</p>
			<form action="#" class="subscribe-form mb-0">
				<div class="icon">
					<img src="{{ 'block02_letter-icon.png' | asset_url }}" alt="" />
				</div>
				<input type="email" placeholder="Email" class="form-control rounded-pill" />
				<button type="submit" class="subscribe-btn">
					<img src="{{ 'block02_button-arrow.png' | asset_url }}" alt="" />
				</button>
			</form>
		</div>
	</div>

	<div class="promo-products-section">
		<div class="product-grid">
			<div class="item item-1 pb-4 py-lg-4" style="background-image: url({{ 'block03_bg01.png' | asset_url }})">
				<div class="container ms-lg-auto me-lg-0">
					<div class="row">
						<div class="col-md-12">
							<div class="content d-flex flex-column flex-md-row align-items-center">
								<div class="product-img">
									<img src="{{ 'block03_BOX-PRO.png' | asset_url }}" alt="" />
								</div>
								<div class="product-details text-center text-md-start">
									<h2 class="text-uppercase fst-italic">Moho Pro 13.5</h2>
									<p class="fst-italic fs-lg">
										Moho Pro 13 is changing the animation software game. Combining powerful
										animation technology with state-of-the-art professional animation tools, you can
										make your best animation projects come to life faster and easier.
									</p>
									<div
										class="d-flex align-items-center justify-content-center justify-content-md-start gap-2"
									>
										<a class="btn btn-white-outlined fs-lg px-3" href="#">Buy $399.99</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item item-2 pb-4 py-lg-4" style="background-image: url({{ 'block03_bg02.png' | asset_url }})">
				<div class="container me-lg-auto ms-lg-0">
					<div class="row">
						<div class="col-md-12">
							<div class="content d-flex flex-column flex-md-row align-items-center">
								<div class="product-img">
									<img src="{{ 'block03_BOX-DEBUT.png' | asset_url }}" alt="" />
								</div>
								<div class="product-details text-center text-md-start">
									<h2 class="text-uppercase fst-italic">Moho Debut 13.5</h2>
									<p class="fst-italic fs-lg">
										Moho Debut 13 is a professional-grade animation software that will forever
										change what you create and how you animate. Whether you’re a professional or you
										want to animate like one, start using Moho 13 Debut today.
									</p>
									<div
										class="d-flex align-items-center justify-content-center justify-content-md-start gap-2"
									>
										<a class="btn btn-white-outlined fs-lg px-3" href="#">Buy $59.99</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="support-section bg-light py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<div class="mb-5 text-center">
						<h2 class="text-primary text-uppercase fst-italic">SUPPORT</h2>
						<p class="fs-lead fst-italic">
							Need help with an issue? Or looking for some more information. Well, you've come to the
							right place!
						</p>
					</div>
					<div class="mb-5 text-center">
						<h2 class="text-primary fst-italic">Important Links</h2>
						<p class="fs-lead fst-italic">
							<a href="#" class="text-gray">FAQ’s – Look here first whenever you have issues</a>
						</p>
						<p class="fs-lead fst-italic">
							<a href="#" class="text-gray"
								>TIPS – Beginner tutorials for first time users or TIPS on the many useful tools in
								here.</a
							>
						</p>
						<p class="fs-lead fst-italic">
							<a href="#" class="text-gray">ASK – Official MOHO Forum</a>
						</p>
					</div>
					<div class="mb-5 text-center">
						<h2 class="text-primary fst-italic">Older MOHO/ Anime Studio versions</h2>
						<p class="fs-lead fst-italic">
							<a href="#" class="text-gray">If you are looking for older versions of MOHO click here</a>
						</p>
					</div>
					<div class="mb-5 text-center">
						<h2 class="text-primary fst-italic">Support Contact</h2>
						<p class="fs-lead fst-italic">
							Do you need to contact us directly? Whether you have a question about features, trials,
							pricing, or anything else, our team is ready to clear all of your doubts.
						</p>
					</div>
					<div class="text-center">
						<a href="#" class="btn btn-primary-gradient fs-lg">Send us a message</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% section 'testimonial' %}
</div>
