<div class="page feature-page">
	<div class="promo-products-section">
		<div class="product-grid">
			<div
				class="item item-1 pb-4 py-lg-4"
				style="background-image: url({{ 'block03_bg01.png' | asset_url }})"
			>
				<div class="container ms-lg-auto me-lg-0">
					<div class="row">
						<div class="col-md-12">
							<div class="content d-flex flex-column flex-md-row align-items-center">
								<div class="product-img">
									<img src="{{ 'block03_BOX-PRO.png' | asset_url }}" alt="" />
								</div>
								<div class="product-details text-center text-md-start">
									<h2 class="text-uppercase fst-italic">Moho Pro 13.5</h2>
									<p class="fst-italic fs-lg">
										Moho Pro 13 is changing the animation software game.
										Combining powerful animation technology with
										state-of-the-art professional animation tools, you can make
										your best animation projects come to life faster and easier.
									</p>
									<div
										class="d-flex align-items-center justify-content-center justify-content-md-start gap-2"
									>
										<a class="btn btn-white-outlined fs-lg px-3" href="#">Buy $399.99</a>
										<a class="btn btn-white-outlined fs-lg px-3" href="#">Try</a>
									</div>
									<p class="fs-xs fst-italic mt-3">
										Includes language support for: English, Spanish, French,
										German, Chinese (Simplified) and Japanese.
										<br />
										Be sure to check the
										<a href="#" class="text-white text-decoration-underline"
											>System Requirements</a
										>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div
				class="item item-2 pb-4 py-lg-4"
				style="background-image: url({{ 'block03_bg02.png' | asset_url }})"
			>
				<div class="container me-lg-auto ms-lg-0">
					<div class="row">
						<div class="col-md-12">
							<div class="content d-flex flex-column flex-md-row align-items-center">
								<div class="product-img">
									<img src="{{ 'block03_BOX-DEBUT.png' | asset_url }}" alt="" />
								</div>
								<div class="product-details text-center text-md-start">
									<h2 class="text-uppercase fst-italic">Moho Debut 13.5</h2>
									<p class="fst-italic fs-lg">
										Moho Debut 13 is a professional-grade animation software
										that will forever change what you create and how you
										animate. Whether you’re a professional or you want to
										animate like one, start using Moho 13 Debut today.
									</p>
									<div
										class="d-flex align-items-center justify-content-center justify-content-md-start gap-2"
									>
										<a class="btn btn-white-outlined fs-lg px-3" href="#">Buy $59.99</a>
									</div>
									<p class="fs-xs fst-italic mt-3">
										Includes language support for: English, Spanish, French,
										German, Chinese (Simplified) and Japanese.
										<br />
										Be sure to check the
										<a href="#" class="text-white text-decoration-underline"
											>System Requirements</a
										>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="newsletter-section bg-light">
		<div
			class="container d-flex flex-column flex-md-row flex-wrap align-items-center justify-content-center gap-2 gap-lg-3"
		>
			<h3 class="text-uppercase text-primary mb-0">NEWSLETTER</h3>
			<p class="fst-italic fs-lg mb-2 mb-md-0">Want the latest news of MOHO? Sign up!</p>
			<form action="#" class="subscribe-form mb-0">
				<div class="icon">
					<img src="{{ 'block02_letter-icon.png' | asset_url }}" alt="" />
				</div>
				<input type="email" placeholder="Email" class="form-control rounded-pill" />
				<button type="submit" class="subscribe-btn">
					<img src="{{ 'block02_button-arrow.png' | asset_url }}" alt="" />
				</button>
			</form>
		</div>
	</div>
	<div class="container pt-5">
		<img src="{{ 'MOHO-LOGO-BIG.png' | asset_url }}" alt="" class="img-fluid" />
		<h2 class="text-gray text-uppercase fst-italic mt-4">
			THE BEST Features FOR YOUR ANIMATIONS
		</h2>
	</div>
	<div class="feature-item">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-4 order-1 order-lg-2 text-center text-lg-end">
					<div class="feature-img">
						<img src="{{ 'feature-img-1.jpg' | asset_url }}" alt="" class="img-fluid" />
					</div>
				</div>
				<div class="col-lg-8 order-2 order-lg-1 py-5">
					<div class="feature-content">
						<h3 class="text-primary fst-italic">Smart Bones™</h3>
						<p class="fst-italic fs-lg">
							Smart Bones is an incredible feature that reduces or entirely removes
							distortion around your character's joints - specifically around knees
							and elbows. Group a set of points and use the Smart Bones control levers
							to create 3D looking motion that you can easily repeat with the turn of
							a dial. For example, with Smart Bones you can control facial expressions
							and head-turning on a character with simple dial movements instead of
							having to touch each bone point. Smart Bones not only steps up the
							quality and realism of the bone actions, but makes it so much easier to
							repeat complex movements and control your rigged elements. Smart Bones
							allow the ability to control Switch layers, Layer order, Layer
							visibility, Follow path, Flip layer horizontally/vertically, Stroke
							exposure, Shape effect positioning, Shape effect parameters (like
							gradient colors), 3D thickness of vector shapes that have been converted
							to 3D and even more smart bones controls.
							<a href="#"><strong>Watch Video</strong></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feature-item bg-light">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-4 text-center text-lg-end align-self-end">
					<div class="feature-img">
						<img src="{{ 'feature-img-2.jpg' | asset_url }}" alt="" class="img-fluid" />
					</div>
				</div>
				<div class="col-lg-8 py-5">
					<div class="feature-content">
						<h3 class="text-primary fst-italic">Bone Constraints</h3>
						<p class="fst-italic fs-lg">
							Bone Constraints include rigging options that will help set up
							characters that are more complex and powerful. The independent angle
							constraint allows a bone to maintain its global angle similar to a
							camera crane and is not affected by inverse kinematics or its bone
							parents. Ideal uses for bone constraints include robotic arms or feet on
							characters that maintains constraints when the rest of the leg is
							moving. The squash and stretch bone scaling enhancement allows bones to
							squash and stretch objects. The elbow bending feature helps improve
							otherwise abnormal bending and squashing issues. Target bones help bones
							point in the right direction rather than having the need to consistently
							set angles.
							<a href="#"><strong>Watch Video</strong></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feature-item">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-4 order-1 order-lg-2 text-center text-lg-end">
					<div class="feature-img">
						<img src="{{ 'feature-img-3.jpg' | asset_url }}" alt="" class="img-fluid" />
					</div>
				</div>
				<div class="col-lg-8 order-2 order-lg-1 py-5">
					<div class="feature-content">
						<h3 class="text-primary fst-italic">
							FBX Support for Unity™ Game Developers
						</h3>
						<p class="fst-italic fs-lg">
							Unity™ game developers and users can use FBX support of animated 2D
							content in Moho Pro, eliminating the need to create rigid sprites for
							game development and providing the ability to get the exact look and
							feel that they want. FBX, the adaptable file format for 3D animation
							from Autodesk®, is the most common method for integrating animated 2D
							and 3D assets in Unity. <a href="#"><strong>Watch Video</strong></a>
						</p>
						<h3 class="text-primary fst-italic mt-4">Import Photoshop Files</h3>
						<p class="fst-italic fs-lg">
							Many Photoshop features are supported in the imported PSD files,
							including blending modes, layer opacity, smart objects and smart
							filters. Groups are also supported and can be set up in Photoshop to
							automatically get imported into Moho Pro as switch layers for quick
							animating. <a href="#"><strong>Watch Video</strong></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feature-item bg-light">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-4 text-center text-lg-end">
					<div class="feature-img">
						<img src="{{ 'feature-img-4.jpg' | asset_url }}" alt="" class="img-fluid" />
					</div>
				</div>
				<div class="col-lg-8 py-5">
					<div class="feature-content">
						<h3 class="text-primary fst-italic">
							Bounce, Elastic and Stagger Interpolation
						</h3>
						<p class="fst-italic fs-lg">
							By applying the Bounce keyframe type to the timeline, any object
							interpolated will appear to bounce, all within two keyframes. Elastic
							provides a rubber band effect, making objects spring back and forth
							before reaching their end point. Settings can be adjusted for each of
							these interpolation types to change the amount of times the object
							bounces, the intensity and more. Stagger creates the effect that the
							animation is stuttering or staggering between two keyframes, without the
							need for additional keyframes.
							<a href="#"><strong>Watch Video</strong></a>
						</p>
						<h3 class="text-primary fst-italic mt-4">Real Time Media Connection</h3>
						<p class="fst-italic fs-lg">
							The Real Time Media Connection in Moho Pro automatically updates image,
							movie, and audio files in your imported files when edited in an external
							program. This is a great workflow enhancement for individuals and
							production studios alike.
							<a href="#"><strong>Watch Video</strong></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feature-item">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-4 order-1 order-lg-2 text-center text-lg-end">
					<div class="feature-img">
						<img src="{{ 'feature-img-5.jpg' | asset_url }}" alt="" class="img-fluid" />
					</div>
				</div>
				<div class="col-lg-8 order-2 order-lg-1 py-5">
					<div class="feature-content">
						<h3 class="text-primary fst-italic">Separate Render Process</h3>
						<p class="fst-italic fs-lg">
							The Batch Exporter and Renderer are now performed as a separate process.
							Even if you quit Moho Pro, the render process continues until the job is
							completed.
							<a href="#"><strong>Watch Video</strong></a>
						</p>
						<h3 class="text-primary fst-italic mt-4">Preview Animation</h3>
						<p class="fst-italic fs-lg">
							Preview animations before committing to rendering. By selecting File >
							Preview Animation, a small video file will be created, allowing you to
							view the animation, with no dropped frames, as it appears in workspace
							mode. While this method should not be used for final exports, you can
							take these files and save them elsewhere on your computer or even share
							them with others if needed. This can cut down tremendously on trial and
							error when animating and save lots of time, which is invaluable for
							creative projects.
							<a href="#"><strong>Watch Video</strong></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feature-item bg-light">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-4 text-center text-lg-end">
					<div class="feature-img">
						<img src="{{ 'feature-img-6.jpg' | asset_url }}" alt="" class="img-fluid" />
					</div>
				</div>
				<div class="col-lg-8 py-5">
					<div class="feature-content">
						<h3 class="text-primary fst-italic">Depth Shifting</h3>
						<p class="fst-italic fs-lg">
							When moving an object forward and back in Z, Depth Shifting is an option
							to preserve its apparent size. Moho Pro does this by automatically
							applying the proper amount of scale. This can be used to arrange
							landscapes, for example placing mountains far away without forcing them
							to become tiny.
							<a href="#"><strong>Watch Video</strong></a>
						</p>
						<h3 class="text-primary fst-italic mt-4">GPU Acceleration</h3>
						<p class="fst-italic fs-lg">
							Graphics Processing Unit (GPU) Acceleration takes advantage of your
							computer's hardware, boosting performance and quality for several layer
							types while allowing you to see exactly what the tool is doing as you
							apply a stroke or shape to the Workspace.
							<a href="#"><strong>Watch Video</strong></a>
						</p>
						<a href="#" class="btn btn-primary-gradient">More features</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="products-block py-5">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-10 col-lg-8 text-center mx-auto">
					<h2 class="fst-italic">WOULD YOU LIKE TO TRY MOHO?</h2>
					<p class="fs-lg fst-italic">
						Moho has everything you need to make amazing, professional animations. Used
						in the OSCAR® nominated films, The Breadwinner and Song of the Sea, for Best
						Animated Feature Film.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 mb-4 mb-lg-0">
					<div
						class="product-item product-pro text-center bg-light h-100 d-flex flex-column justify-content-between"
					>
						<div class="">
							<img src="{{ 'BOX-PRO.png' | asset_url }}" alt="" class="mb-3" />
							<h2 class="fst-italic text-uppercase">Moho Pro 13.5</h2>
							<p class="fs-lg fst-italic">
								Perfect for professional animation artists to make your work-flow as
								efficient as you need it to be.
							</p>
							<hr />
							<h3 class="fst-italic">Key Features</h3>
							<h5 class="fst-italic">
								Includes all features from MOHO DEBUT, and also:
							</h5>
							<ul class="list-unstyled text-start">
								<li>
									Smart Bones™, Bone Constraints, FBX Support for Unity™ Game
									Developers, Import Photoshop Files.
								</li>
								<li>Bounce, Elastic and Stagger Interpolation.</li>
								<li>
									Real Time Media Connection, Separate Render Process, Preview
									Animation, Depth Shifting.
								</li>
								<li>GPU Acceleration, Nested Layer Controls, Flexi-Binding.</li>
								<li>
									Adjustable Particle Source, Enhanced Depth of Field, Scripting,
									Layer Comps.
								</li>
								<li>
									Flexible Import and HD Export Capabilities, Patch Layers, Shy
									Bones.
								</li>
							</ul>
						</div>
						<div class="buttons d-flex align-items-center justify-content-center gap-2">
							<a href="#" class="btn btn-primary-gradient">Buy $399.99</a>
							<a href="#" class="btn btn-primary-gradient">Trial</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div
						class="product-item product-debut text-center bg-light h-100 d-flex flex-column justify-content-between"
					>
						<div class="">
							<img src="{{ 'BOX-DEBUT.png' | asset_url }}" alt="" class="mb-3" />
							<h2 class="fst-italic text-uppercase">Moho DEBUT 13.5</h2>
							<p class="fs-lg fst-italic">
								Learn 2D animation and get started quickly with Debut's Beginners
								Mode and Character Wizard.
							</p>
							<hr />
							<h3 class="fst-italic">Key Features</h3>
							<ul class="list-unstyled text-start">
								<li>
									Beginner's Mode, Content Library, Pin Bones, Powerful Vector
									Drawing Tools.
								</li>
								<li>
									Timeline, Audio Recording & Sound Effects, Automatic Lip
									Synching.
								</li>
								<li>
									Follow Path Tool, Video & Motion Tracking, Finish for Web, TV,
									Film & Stills.
								</li>
								<li>Edit Multiple Layers Simultaneously</li>
							</ul>
						</div>
						<div class="buttons d-flex align-items-center justify-content-center gap-2">
							<a href="#" class="btn btn-secondary-gradient">Buy $59.99</a>
						</div>
					</div>
				</div>
				<div class="col-12 text-center text-lg-end mt-3">
					<a href="#" class="fw-bold fst-italic d-inline-block"
						>> See a full Comparison Table</a
					>
				</div>
			</div>
		</div>
	</div>
	<div class="system-requirements pb-5">
		<div class="container">
			<h2 class="text-primary fst-italic text-uppercase mb-4">System Requirements</h2>
			<div class="row">
				<div class="col-md-6 mb-4 mb-md-0">
					<h3 class="fst-italic mb-4">Windows</h3>
					<ul>
						<li>Windows® 10 recommended *</li>
						<li>64-bit OS required</li>
						<li>2.0 GHz Intel Core i3 or higher</li>
						<li>4 GB RAM or higher</li>
						<li>1.6 GB free hard drive space or higher</li>
						<li>
							OpenGL 4.1 supported graphics card required (1920x1080 recommended) **
						</li>
						<li>Online connection required to perform online activation</li>
					</ul>
				</div>
				<div class="col-md-6 mb-4">
					<h3 class="fst-italic mb-4">Macintosh</h3>
					<ul>
						<li>
							Macintosh® OS X 10.13 or 10.14 recommended. Mac OS 11 not currently
							supported. *
						</li>
						<li>64-bit OS required</li>
						<li>2.0 GHz Intel Core i3 or higher</li>
						<li>4 GB RAM or higher</li>
						<li>1.6 GB free hard drive space or higher</li>
						<li>
							OpenGL 4.1 supported graphics card required (1920x1080 recommended) **
						</li>
						<li>Online connection required to perform online activation</li>
					</ul>
				</div>
				<div class="col-12">
					<p class="fs-lg fst-italic mb-4">
						* Smith Micro has done extensive testing of Moho on Windows 10, macOS 10.14,
						and macOS 10.13. Moho can be installed on older operating systems, but this
						is not recommended as there might be instabilities. Moho will not work on
						anything older than Windows 7 (version 6.1) or macOS 10.10. There are
						currently no details on an update or new version to support Mac OS 11. Smith
						Micro will only provide full technical support for issues on Windows 10,
						macOS 10.14, macOS 10.13, and limited support for Windows 7 issues.
					</p>
					<p class="fs-lg fst-italic">
						** For high pixel density displays, minimum resolution will vary according
						to the operating system recommend scaling level. For example, if the OS
						recommends a scaling level of 200%, the minimum requirement may be as high
						as 2736x1824 resolution. Or if the OS recommends a scaling level of 150%,
						the minimum requirement may be as high as 2160x1440 resolution.
					</p>
				</div>
			</div>
		</div>
	</div>

	{% section 'testimonial' %}
</div>
